@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.no-resize {
    resize: none !important;
}

.text-small {
    font-size: 80% !important;
    font-weight: 400 !important;
}

.page-color {
    background-color: #FAFBFB;
}

.underline-dotted {
    border-bottom: 1px !important;
    border-style: dashed !important;
    padding-bottom: 2px !important;
    margin-bottom: 2px !important;
}

html .navbar-sticky .app-content .content-wrapper {
    /*z-index: 99 !important;*/
    /*position: fixed !important;*/
}

.tag {
    line-height: 1rem;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
    padding-bottom: 11px !important;
    padding-top: 0px !important;
}

.popover {
    min-width: max-content !important;
    max-width: max-content !important;
}

.popover-body {
    padding: 10px !important;
}

.custom-dropdown {
    margin-top: 0.5rem !important;
}

.pointer {
    cursor: pointer;
}

.search-btn {
    background-color: #E6EAEE !important;
    color: #475F7B !important;
    outline: none !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.search-input {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.export-btn {
    padding-right: 9px !important;
}
